<div class="row">
   <div class="col-xs-12">
      <h2 class="titulo">{{titulo}} <span class="caret"></span></h2>

      <div class="caja-trabajadores">
        <a href="#"
          class="list-group-item clearfix trabajador"
          *ngFor="let trabajador of trabajadores"
          style="border: red solid 1px"
          (click)="setTrabajadorSeleccionado(trabajador)"
          >
           <div class="pull-left">
             <h4 class="list-group-item-heading">Nombre: {{trabajador.name}}</h4>
             <p class="list-group-item-text">Email: {{trabajador.email}} </p>
             <p class="list-group-item-text">Fono: {{trabajador.fono}}&nbsp;&nbsp;&nbsp;Edad: {{trabajador.edad}}</p>
           </div>
        </a>
      </div>

      <div class="row" style="margin-top: 10px">
        <div class="col-xs-12">
          <app-ingresar-trabajador [trabajadores]="trabajadores"></app-ingresar-trabajador>
        </div>
      </div>
   </div>
