<div class="row">
  <div class="col-xs-10">
    <div class="row anho">
      <h1>{{current_yyyy}}</h1>
    </div>
    <div class="row mes">
      {{current_dia}} {{current_dd}} de {{current_mes}}
      <button type="button" name="button" class="btn btn-primary" (click)="this.semana = sigSemana()">Cambiar semana</button>
    </div>
    <div class="row">
    <app-bloques
      (fechaClickeada)="recibirFecha($event)"
      [current_yyyy]="current_yyyy"
      [current_mm]="current_mm"
      [current_mes]="current_mes"
      [semana]="semana"
    ></app-bloques>
    </div>
  </div>
</div>
  <div class="col-xs-12">
    <h4>Fecha:</h4>
    <div *ngIf="fechaString" >
      <p> {{fechaString.rango}}</p>
      <p> {{fechaString.bloque}}</p>
      <p> {{fechaString.data}}</p>
      <p> {{fechaString.dia_semana}}</p>
    </div>
  </div>
